body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    background-color: #E5E5E5;
    margin: 0px;
}
h1 {
    font-weight: 300;
    margin-top: 45px;
    margin-left: 45px;
    margin-bottom: 34px;
    font-size: 32px;
    line-height: 40px;
}
input {
    font-size: 16px;
    line-height: 25px;
    width: 240px;
    margin-left: 45px;
    padding: 6px 35px 8px 10px;
}
button {
    background-color: #518E6A;
    color: white;
    padding: 8px 16px;
    border: 1px solid #518E6A;
    border-radius: 1px;
    font-size: 16px;
    line-height: 26px;
}
td {
    padding: 5px 89px 5px 45px;
}
tr {
    margin-left: 45px;
}
th {
    padding-bottom: 17px;
}
th.first_col {
    padding-right: 860px;
}
th.second_col {
    padding-right: 60px;
}

div.page {
    background-color: white;
    width: 1280px;
    border-top: #518E6A 2px solid;
    margin: 0px auto;
}
table {
    width: 100%;
    margin-top: 39px;
    padding-bottom: 28px;
}
table::before {
    content: "";
    border: 1px solid gray;
    width: 1279px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 250px;
}
a {
    text-decoration: none;
    color: black;
}
tr:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}
a:hover {
    color: #3072C4
    ;
}
a.search {
    color: #3072C4;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #A1A1A1;
    line-height: 20px;
    font-size: 14px;
}
footer.b {
    font-size: 16px;
}
.footer_head {
    position: relative;
    bottom: 10px;
}
.footer_bottom {
    padding-left: 30px;
}
