body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 25px;
    background-color: #E5E5E5;
    margin: 0px;
}
div.page {
    background-color: white;
    width: 1280px;
    border-top: #518E6A 2px solid;
    margin: 0px auto;
}
div.page::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    position: absolute;
    z-index: 2;
    top: 0px;
    left: 0px;
}
div.search_page {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    background-color: #FFF;
    width: 500px;
    height: 606px;
}
h3 {
    font-weight: 400;
    line-height: 30px;
    margin: 25px 70px 37px 30px;
}
a.cross {
    position: absolute;
    font-size: 30px;
    color: black;
    opacity: 0.5;
    transform: rotate(45deg);
    top: 35px;
    right: 35px;
}

div.search-bars {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    justify-content: space-between;
}
div.search-bars span {
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    padding-left: 32px;
    padding-bottom: 33px;
}
.search_page input {
    width: 269px;
    height: 38px;
    border: 1px solid #CECECE;
    margin-bottom: 20px;
    margin-right: 35px;
}
.search-bars input:nth-last-child(1),
.search-bars input:nth-last-child(3) {
    width: 130px;
} 
div.search_page_bar {
    background-color: #E9E9E9;
    height: 80px;
}
.search_page_bar button {
    width: 150px;
    height: 38px;
    padding: 8px 16px 10px 15px;
    line-height: 20px;
    font-size: 16px;
    margin: 21px 10px 0px 30px;
}
button.cancel {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    color: black;
    margin-left: -4px;
    width: 110px;
}
h1 {
    font-weight: 300;
    margin-top: 45px;
    margin-left: 45px;
    margin-bottom: 34px;
    font-size: 32px;
    line-height: 40px;
}
input.mainpage {
    font-size: 16px;
    line-height: 25px;
    width: 240px;
    margin-left: 45px;
    padding: 6px 35px 8px 10px;
}
button {
    background-color: #518E6A;
    color: white;
    padding: 8px 16px;
    border: 1px solid #518E6A;
    border-radius: 1px;
    font-size: 16px;
    line-height: 26px;
}
table {
    width: 100%;
    margin-top: 39px;
    padding-bottom: 28px;
}
table::before {
    content: "";
    border: 1px solid gray;
    width: 1279px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 250px;
}

td {
    padding: 5px 89px 5px 45px;
}
tr {
    margin-left: 45px;
}
th {
    padding-bottom: 17px;
}
th.first_col {
    padding-right: 860px;
}
th.second_col {
    padding-right: 60px;
}



a {
    text-decoration: none;
    color: black;
}
tr:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}

a.search {
    color: #3072C4;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: #A1A1A1;
    line-height: 20px;
    font-size: 14px;
}
footer.b {
    font-size: 16px;
}
.footer_head {
    position: relative;
    bottom: 10px;
}
.footer_bottom {
    padding-left: 30px;
}
